<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div class="" *ngFor="let chat of ChatService.chats" [ngClass]="{'text-end': ChatService.usuario.uid == chat.uid}">
        <span
            [ngClass]="{'bg-primary': ChatService.usuario.uid == chat.uid, 'bg-success': ChatService.usuario.uid != chat.uid}"
            class="badge ">{{ chat.nombre}}</span>
        <p>{{ chat.mensaje }}</p>
    </div>



</div>
<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="enviar mensaje"
    (keyup.enter)="enviarMensaje()">